  <ion-header >
    <ion-toolbar color="primary">
      <ion-title color="light" class="ion-text-center"> 
        NAv
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid color="success">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-img src="../assets/img/ilustracao-3d-divertida-de-um-astronauta-com-um-capacete-de-realidade-virtual.jpg" alt=""></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
    </ion-row>

  </ion-grid>

