<ion-header style="overflow: hidden;" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>promoções</ion-title>
    <ion-buttons slot="end" routerLink="/carrinho">
      <ion-button>
        <ion-icon name="cart-outline" ></ion-icon>
        <ion-badge color="light">{{qtdeItensCarrinho}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let produto of listaProdutos">
    <ion-thumbnail slot="start">
      <img [src]="produto.foto"/>
    </ion-thumbnail>
    <ion-label>
      <H2>{{produto.nome | uppercase }}</H2>
      <p>{{produto.descricao}}</p>
    </ion-label>
    <ion-badge style="padding: 15px;" color="dark" slot="end">R$: {{produto.valor | number: '1.2-2'}}</ion-badge>
    <ion-button slot="end"size="default" color="secondary" (click)="addProdutoCarrinho(produto)">
      <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-content>